version: '3'

networks:
  services:
    ipam:
      config:
        - subnet: 173.17.0.0/24

services:
  #
  # Pool
  #
  pool:
    build:
      context: .
      dockerfile: indy-pool.dockerfile
      args:
        - pool_ip=173.17.0.100
    ports:
      - 9701-9708:9701-9708
    networks:
      services:
        ipv4_address: 173.17.0.100

  #
  # Agents
  #
  alice:
    image: indy-agentjs
    build:
      context: .
    command: "bash -c 'npm start'"
    # "bash -c 'node --inspect-brk=0.0.0.0:9229 ./bin/www'"
    environment:
      - PORT=3000
      - NAME=Alice White
      - GEBURTSTAG=01.11.1990
      - GEBURTSORT=Wondercity
      - ANSCHRIFT=Heartstreet 123
      - SCHULE=Rabbitschool
      - ABSCHLUSS=Abitur
      - DURCHSCHNITT=2,1
      - PASSWORD=123
      - USERNAME=alice
      - PUBLIC_DID_ENDPOINT=173.17.0.150:3000
      - DOCKERHOST=${DOCKERHOST}
      - RUST_LOG=${RUST_LOG}
      - TEST_POOL_IP=${TEST_POOL_IP}
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - pool
    networks:
      services:
        ipv4_address: 173.17.0.150

  
  
  ifis:
    image: indy-agentjs
    command: "bash -c 'npm start'"
    # "bash -c 'npm start'"
    environment:
      - PORT=3001
      - NAME=ifis
      - GEBURTSTAG=01.01.1998
      - GEBURTSORT=Gelsenkirchen
      - ANSCHRIFT=Neidenburger Straße 143
      - PASSWORD=123
      - USERNAME=ifis
      - PUBLIC_DID_ENDPOINT=173.17.0.160:3001
      - DOCKERHOST=${DOCKERHOST}
      - RUST_LOG=${RUST_LOG}
      - TEST_POOL_IP=${TEST_POOL_IP}
    ports:
      - 3001:3001
      - 9230:9229
    depends_on:
      - pool
      - alice
    networks:
      services:
        ipv4_address: 173.17.0.160


  whs:
    image: indy-agentjs
    command: "bash -c 'npm start'"
    environment:
      - PORT=3002,
      - NAME=Westfälische Hochschule
      - GEBURTSTAG=01.11.1950
      - GEBURTSORT=Ducktown
      - ANSCHRIFT=quackstreet 1250
      - PASSWORD=123
      - USERNAME=whs
      - PUBLIC_DID_ENDPOINT=173.17.0.170:3002
      - DOCKERHOST=${DOCKERHOST}
      - RUST_LOG=${RUST_LOG}
      - TEST_POOL_IP=${TEST_POOL_IP}
    ports:
      - 3002:3002
      - 9231:9229
    depends_on:
      - pool
      - alice
    networks:
      services:
        ipv4_address: 173.17.0.170

  studentenwohnheim:
    image: indy-agentjs
    command: "bash -c 'npm start'"
    environment:
      - PORT=3003,
      - NAME=Studentenwohnheim
      - GEBURTSTAG=01.11.1980
      - GEBURTSORT=Gelsenkirchen
      - ANSCHRIFT= Buerer Straße 1
      - PASSWORD=123
      - USERNAME=SWH
      - PUBLIC_DID_ENDPOINT=173.17.0.180:3003
      - DOCKERHOST=${DOCKERHOST}
      - RUST_LOG=${RUST_LOG}
      - TEST_POOL_IP=${TEST_POOL_IP}
    ports:
      - 3003:3003
      - 9232:9229
    depends_on:
      - pool
      - alice
    networks:
      services:
        ipv4_address: 173.17.0.180